.moviePoster {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0px;
  box-shadow: 5px 5px 15px black;
  border: none;
}

.moviePoster:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

img {
  height: 100%;
  width: 100%;
}
