.movieDetailsContainer {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 12px 12px rgb(29, 22, 62) inset;
  overflow-y: scroll;
}

.movieDescription {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  height: 75%;
}

.returnHome {
  height: 44px;
  width: 52px;
  border-radius: 10px;
  font-size: 28px;
  box-shadow: 1px 3px 14px;
  border: transparent;
}

.returnHome:hover {
  background-color: rgb(29, 22, 62);
  color: white;
  box-shadow: none;
}

.movie-poster {
  min-height: 200px;
  max-height: 565px;
  margin: 15px;
  min-width: 355px;
  max-width: 400px;
  box-shadow: 9px 11px 14px 0px black;
  border-radius: 4px;
}

.movieDetailsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  opacity: 70%;
  min-height: 200px;
  height: 455px;
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  padding: 20px 15px 30px;
}

.movieTrailer {
  display: flex;
  justify-content: center;
  margin: 10px 0px 12px 0px;
}

h2,
h4 {
  color: white;
  font-size: 35px;
  margin: 0;
  letter-spacing: 1.2px;
}

h4 {
  font-size: 15px;
  font-style: italic;
  margin: 4px 0px 28px;
  font-weight: 400;
}

p {
  color: white;
  font-size: 14px;
  margin: 5px;
}

.genre {
  margin-bottom: 28px;
}

@media only screen and (max-width: 600px) {
  .movieDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-poster {
    min-height: 200px;
    max-height: 300px;
    min-width: 200px;
    max-width: 200px;
  }
  p {
    font-size: 12px;
  }

  h2 {
    font-size: 18px;
  }
}
