.movieDetailsContainer {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 12px 12px rgb(29, 22, 62) inset;
}

.movieDescription {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  height: 100%;
}

.returnHome {
  height: 44px;
  width: 52px;
  border-radius: 10px;
  font-size: 28px;
}

.movie-poster {
  height: 65%;
  margin: 15px;
  width: 40%;
}

.movieDetailsCard {
  background-color: black;
  opacity: 70%;
  height: 60%;
  width: 40%;
  text-align: center;
  padding: 20px 15px 30px;
}

h2,
h4 {
  color: white;
  font-size: 26px;
  margin: 0;
}

h4 {
  font-size: 15px;
  font-style: italic;
  margin: 10px 0;
  font-weight: 400;
}

p {
  color: white;
  font-size: 12px;
  margin: 5px;
}

/* .overview {
  padding-bottom: 20px;
} */

@media only screen and (max-width: 840px) {
  .movie-poster {
    height: 75%;
    width: 25%;
  }
}

@media only screen and (max-width: 600px) {
  .movieDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-poster {
    height: 62%;
    width: 45%;
  }
  p {
    font-size: 10px;
  }
}
