html {
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(15,15,15), rgb(47,31,125));

}

main {
  height: 100%;
  margin: 10px;
}

body {
  height: 100%;
  width: 100%;
}

nav {
  position: top;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: rgb(179,120,255);
  letter-spacing: 1px;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */



