html {
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(15, 15, 15),
    rgb(47, 31, 125)
  );
}

main {
  height: 100vh;
  margin: 10px;
}

body {
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(179, 120, 255);
  letter-spacing: 1px;
  font-family: 'Ropa Sans', sans-serif;
  margin: 0px;
}

h3 {
  color: rgb(179, 120, 255);
  text-align: center;
}
